body{
    background-image: url("/assets/img/back-img.png");
}

.form-container{
    width: 45%;
    height: 450px;
    background-color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    
}